.product-card{
    display: flex;
    align-items: center;
    margin: 7px 12px;
    box-shadow: 4px 4px 7px #ebebeb;
    padding: 10px 0;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
}

.product-card:hover{
    border: 1px solid red;
    transition: border linear 0.5s;
}

.product-card > div:nth-child(1){
    min-width: 25%;
    text-align: center;
    margin-right: 18px;
    width: 25%;
    object-fit: contain;
}

.product-card img{
    object-fit: contain;
    width: 100%;
    height: 250px;
}

.product-card .title{
    font-size: 19px;
    font-weight: 100;
    word-break: break-word;
}

.product-card .ratings{
    margin-top: 7px;
}

.product-card .rating-badge{
    padding: 0px 9px;
    background-color: #1f931d;
    border-radius: 12px;
    color: white;
    margin-right: 10px;
}

.product-card .rating-review-count{
    color: grey;
    font-size: 14px;
}

.product-card .features{
    color: grey;
    font-size: 14px;
    list-style: none;
    line-height: 1.6rem;
    padding: 0;
}

.product-card .price-details .discounted-price{
    font-size: 20px;
}

.product-card .price-details .original-price{
    color: grey;
    text-decoration: line-through;
    font-size: 14px;
}