.category-card{
    /* width: 250px; */
    /* height: 250px; */
    border: 1px solid #efeeee;
    /* box-shadow: 2px 2px 7px lightgrey; */
    /* display: flex; */
    border-radius: 3px;
    align-items: center;
    display: inline-block;
    /* margin: auto; */
    text-align: center;
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: center;
}

.category-card div{
    text-align: left;
}

.category-card:hover{
    /* scale: 1.1; */
    border: 1px solid red;
    transition: border linear 0.5s;
    /* animation-name: borderAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
}

/* @keyframes borderAnimation {
    0%   {border-width: 0px;border-top: 1px solid red; transition: border linear 0.5s;}
    25%  {border-width: 100%; border-right: 1px solid red; transition: border linear 0.5s;}
    50%  {border-bottom: 1px solid red; transition: border linear 0.5s;}
    100% {border-left: 1px solid red; transition: border linear 0.5s;}
  } */

.category-card img{
    width: 220px;
    height: 220px;
    border-radius: 3px;
    min-width: 135px;
    object-fit: contain;
}

.category-card .title{
    font-size: 17px;
    /* font-weight: 600; */
    color: #1c1c1c;
    margin: 7px 0;
}

.category-card .ratings{
    margin-top: 7px;
}

.category-card .rating-badge{
    padding: 0px 9px;
    background-color: #1f931d;
    border-radius: 12px;
    color: white;
    /* font-weight: 600; */
    margin-right: 6px;
}

.category-card .rating-review-count{
    color: grey;
    font-size: 14px;
}

.category-card .price-details .discounted-price{
    /* font-weight: 600; */
    font-size: 17px;
}

.category-card .price-details .original-price{
    color: grey;
    text-decoration: line-through;
    font-size: 14px;
}