.carousel{
    /* background-color: black; */
    height: 360px;
    width: 95%;
    /* width: 1330px; */
    margin: auto;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 64px;
}

.carousel .carousel-right{
    background-color: black;
    height: 990px;
    width: 1270px;
    /* margin: auto; */
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: -343px;
    transform: rotate(129deg);
}

.carousel #c1{
    /* background-color: black; */
    display: block;
    height: 100%;
    width: 100%;
    /* display: block;
    transition: all linear 0.3s; */
    background-image: url('../assets/images/c1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.carousel #c2{
    /* background-color: black; */
    display: none;
    height: 100%;
    width: 100%;
    /* display: block;
    transition: all linear 0.3s; */
    background-image: url('../assets/images/c2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.carousel #c3{
    /* background-color: black; */
    display: none;
    height: 100%;
    width: 100%;
    /* display: block;
    transition: all linear 0.3s; */
    background-image: url('../assets/images/c3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

@media screen and (min-width: 771px) {
    .carousel{
        height: 501px;
    }
}