.login-page form{
    width: 90%;
    border: 1px solid #d2cfcf;
    margin: auto;
    padding: 13px 13px;
    border-radius: 4px;
}

.login-page form div{
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}

.login-page form div label{
    margin: 6px 0;
}

.login-page .btn{
    margin-top: 20px;
    margin-right: 7px;
}

.login-page .signup{
    margin-top: 17px;
    cursor: pointer;
    color: #3869c7;
}

.login-page .signup:hover{
    text-decoration: underline;
    cursor: pointer;
}