.order-page form{
    width: 90%;
    border: 1px solid #d2cfcf;
    margin: auto;
    padding: 13px 13px;
    border-radius: 4px;
}

.order-page form div{
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}

.order-page form div label{
    margin: 6px 0;
}

.order-page .btn{
    margin-top: 20px;
    margin-right: 7px;
}