@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Ubuntu:wght@300;400;500;700&display=swap');

body{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
}
